html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background: #EAF2E3;
}

a {
    color: rgb(97, 232, 225);
}

a:visited {
    color: rgb(242, 87, 87);
}

* {
    box-sizing: border-box;
}
